<nb-card>
    <nb-card-header>Categorie Arret</nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" #r="ngForm" (ngSubmit)="onSubmit(r.value)">



            <label>Categorie_Arret</label>
            <input type="text"  nbInput fullWidth shape="round"  formControlName="categorieArret" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.categorieArret.errors }" />
            <div *ngIf="submitted && f.categorieArret.errors" class="invalid-feedback">
                <div *ngIf="f.categorieArret.errors.required">categorieArret est requis</div>
                <div *ngIf="f.categorieArret.errors.categorieArret"> <b>Categorie Arret doit etre 'Arrêt client' ou 'arrêt
                    Techsub Mce' ou 'arrêt Techsub sondage' </b></div>

            </div>


            <label>Description</label>
            <textarea nbInput fullWidth shape="round" placeholder="Description" type="text"
                    formControlName="description" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">description est requis</div>

                </div>
            <hr>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="onClose()">Cancel</button> &nbsp;
                <button nbButton status="success">Register</button>


            </nb-card-footer>
        </form>
    </nb-card-body>

</nb-card>