<nb-card>
    <nb-card-header>Diametre</nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" #n="ngForm" (ngSubmit)="onSubmit(n.value)">



            <label>diametre</label>
            <input type="text" nbInput fullWidth shape="round" placeholder="diametre" formControlName="diametre" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.diametre.errors }" />
            <div *ngIf="submitted && f.diametre.errors" class="invalid-feedback">
                <div *ngIf="f.diametre.errors.required">le diametre est requis</div>
                <div *ngIf="f.diametre.errors.diametre"><b>le diametre doit d'etre parmi cette list '1,2 ; 1,4 ; 1,5 ;
                        65 ; 127 ; AQ ; BQ' </b></div>

            </div>


            <label>Description</label>
            <textarea type="text" nbInput fullWidth shape="round" placeholder="Description"
                formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description est requis</div>
            </div>

            <label>Unite</label>
            <nb-select fullWidth shape="round" formControlName="unite" 
                [ngClass]="{ 'is-invalid': submitted && f.unite.errors }">
                <nb-option value="m">M</nb-option>
                <nb-option value="mm">MM</nb-option>
                <nb-option value="Sans Unité">Sans Unité</nb-option>


            </nb-select>
            <div *ngIf="submitted && f.unite.errors" class="invalid-feedback">
                <div *ngIf="f.unite.errors.required">unite est requis</div>
            </div>



            <label>Prestation</label>
            <nb-select multiple  fullWidth shape="round" formControlName="prestations" 
                [ngClass]="{ 'is-invalid': submitted && f.prestations.errors }" *ngIf="prestations">

                <nb-option *ngFor="let r of prestations" [value]="r">{{r.nom}}</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.prestations.errors" class="invalid-feedback">
                <div *ngIf="f.prestations.errors.required"> prestation est requis</div>
            </div>




            <label>Etat</label>
            <nb-select fullWidth shape="round" formControlName="etat" 
                [ngClass]="{ 'is-invalid': submitted && f.etat.errors }">
                <nb-option value="Active">Active</nb-option>
                <nb-option value="Inactive">Inactive</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.etat.errors" class="invalid-feedback">
                <div *ngIf="f.etat.errors.required">etat est requis</div>
            </div>


            <hr>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="onClose()">Cancel</button> &nbsp;
                <button nbButton status="success">Register</button>


            </nb-card-footer>
        </form>
    </nb-card-body>

</nb-card>