<nb-card>
    <nb-card-header>Zone</nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" #n="ngForm" (ngSubmit)="onSubmit(n.value)">

            <label>Zone</label>
            <input type="text" nbInput fullWidth shape="round"   formControlName="nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback" class="form-control" class="form-control">
                <div *ngIf="f.nom.errors.required">le nom de la zone est requis</div>
                <div *ngIf="f.nom.errors.nom"><b>le nom de la zone doit d'etre parmi cette list 'CMG DS; CMG HAJJAR; SMI'
                </b></div>

            </div>


            <label>Description</label>
            <textarea type="text" nbInput fullWidth shape="round" placeholder="Description" class="form-control"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description est requis</div>
            </div>


            <label>client</label>
            <nb-select formControlName="client" fullWidth shape="round" [ngClass]="{ 'is-invalid': submitted && f.client.errors }"
                *ngIf="clients">
               

                <nb-option *ngFor="let r of clients" [value]="r">{{r.nom}}</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.client.errors" class="invalid-feedback">
                <div *ngIf="f.client.errors.required"> client est requis</div>
            </div>


            <label>Etat</label>
            <nb-select formControlName="etat" fullWidth shape="round" [ngClass]="{ 'is-invalid': submitted && f.etat.errors }">
               
                <nb-option value="Active">Active</nb-option>
                <nb-option value="Inactive">Inactive</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.etat.errors" class="invalid-feedback">
                <div *ngIf="f.etat.errors.required">etat est requis</div>
            </div>



            <hr>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="onClose()">Cancel</button> &nbsp;
                <button nbButton status="success">Register</button>


            </nb-card-footer>
        </form>
    </nb-card-body>

</nb-card>