<nb-card>
    <nb-card-header>Prestation</nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" #n="ngForm" (ngSubmit)="onSubmit(n.value)">

            <label>Nom du prestation</label>
            <input type="text" nbInput fullWidth shape="round" formControlName="nom" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">le nom du prestation est requis</div>
                <div *ngIf="f.nom.errors.nom"><b>le nom du prestation doit d'etre parmi cette list 'SCL jour, SCL Fond,
                    SRC, TP CHR GD, AL CHR GD'</b></div>

            </div>



            <label>Description</label>
            <textarea type="text" nbInput fullWidth shape="round" placeholder="Description" class="form-control"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description est requis</div>
            </div>

            <label>Categorie</label>
            <nb-select  fullWidth shape="round" formControlName="categorie"
                [ngClass]="{ 'is-invalid': submitted && f.categorie.errors }" *ngIf="categories">

                <nb-option *ngFor="let r of categories" [value]="r">{{r.categoriePrestation}}</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.categorie.errors" class="invalid-feedback">
                <div *ngIf="f.categorie.errors.required"> categorie est requise</div>
            </div>



            <label>Temps_Ouverture</label>
            <input type="number" nbInput fullWidth shape="round" formControlName="temps_ouverture" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.temps_ouverture.errors }" />
            <div *ngIf="submitted && f.temps_ouverture.errors" class="invalid-feedback">
                <div *ngIf="f.temps_ouverture.errors.required"> le temps d'ouverture est requis</div>

            </div>



            <label>Etat</label>
            <nb-select formControlName="etat"  fullWidth shape="round"
                [ngClass]="{ 'is-invalid': submitted && f.etat.errors }">
                <nb-option value="Active">Active</nb-option>
                <nb-option value="Inactive">Inactive</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.etat.errors" class="invalid-feedback">
                <div *ngIf="f.etat.errors.required">etat est requis</div>
            </div>
            <hr>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="onClose()">Cancel</button> &nbsp;
                <button nbButton status="success">Register</button>


            </nb-card-footer>
        </form>
    </nb-card-body>

</nb-card>