<nb-card>
    <nb-card-header>Pays</nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" #n="ngForm" (ngSubmit)="onSubmit(n.value)">
<div>
            <label>Nom du Pays</label>
            <input type="text" nbInput fullWidth shape="round" placeholder="Pays"  formControlName="nom" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" />
            <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                <div *ngIf="f.nom.errors.required">le nom du nom est requis</div>
                <div *ngIf="f.nom.errors.nom"><b>le nom du nom doit d'etre parmi cette list 'maroc,gabon,soudan,guinée'
                </b></div>

            </div>


            <label>Description</label>
            <textarea type="text" nbInput fullWidth shape="round" placeholder="Description" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description est requis</div>

            </div>

            <label>Region</label>
            <nb-select fullWidth shape="round" formControlName="region" 
                [ngClass]="{ 'is-invalid': submitted && f.region.errors }" *ngIf="regs">

                <nb-option *ngFor="let r of regs" [value]="r">{{r.nom}}</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.region.errors" class="invalid-feedback">
                <div *ngIf="f.region.errors.required"> region est requis</div>
            </div>




            <label>Etat</label>
            <nb-select fullWidth shape="round"  formControlName="etat"
                [ngClass]="{ 'is-invalid': submitted && f.etat.errors }">
                <nb-option value="Active">Active</nb-option>
                <nb-option value="Inactive">Inactive</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.etat.errors" class="invalid-feedback">
                <div *ngIf="f.etat.errors.required">etat est requis</div>
            </div>

            <hr>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="onClose()">Cancel</button> &nbsp;
                <button nbButton status="success">Register</button>


            </nb-card-footer>
        </div>
        </form>
    </nb-card-body>

</nb-card>