<nb-card>
    <nb-card-header>type Prestation</nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" #r="ngForm" (ngSubmit)="onSubmit(r.value)">



            <label>typePrestation</label>
            <input type="text" nbInput fullWidth shape="round" formControlName="typePrestation" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.typePrestation.errors }" />
            <div *ngIf="submitted && f.typePrestation.errors" class="invalid-feedback">
                <div *ngIf="f.typePrestation.errors.required">type Prestation est requis</div>
                <div *ngIf="f.typePrestation.errors.typePrestation"><b> type Prestation doit etre 'Sondage' ou 'cheminée
                    mécanisée'</b></div>

            </div>



            <label>Description</label>
            <textarea type="text" nbInput fullWidth shape="round" placeholder="Description" class="form-control"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description est requis</div>
            </div>
           

            <label>Etat</label>
            <nb-select formControlName="etat"  fullWidth shape="round"
                [ngClass]="{ 'is-invalid': submitted && f.etat.errors }">
                <nb-option value="Active">Active</nb-option>
                <nb-option value="Inactive">Inactive</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.etat.errors" class="invalid-feedback">
                <div *ngIf="f.etat.errors.required">etat est requis</div>
            </div>


            <hr>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="onClose()">Cancel</button> &nbsp;
                <button nbButton status="success">Register</button>


            </nb-card-footer>
        </form>
    </nb-card-body>

</nb-card>