<nb-card>
    <nb-card-header>categorie Prestation</nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" #r="ngForm" (ngSubmit)="onSubmit(r.value)">

            <label>categoriePrestation</label>
            <input categorie="text" nbInput fullWidth shape="round" formControlName="categoriePrestation" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.categoriePrestation.errors }" />
            <div *ngIf="submitted && f.categoriePrestation.errors" class="invalid-feedback">
                <div *ngIf="f.categoriePrestation.errors.required">categoriePrestation est requis</div>
                <div *ngIf="f.categoriePrestation.errors.categoriePrestation"><b> categoriePrestation doit etre 'SONDAGE
                    CAROTTE LONG' ou 'SONDAGE DESTRUCTIF' ou 'TROU PILOTE' ou 'ALESAGE' </b></div>

            </div>



            <label>Description</label>
            <textarea type="text" nbInput fullWidth shape="round" placeholder="Description" class="form-control"
                formControlName="description"
                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">description est requis</div>
            </div>


            <label>Type_Prestation</label>
            <nb-select fullWidth shape="round" formControlName="type_prestation" 
                [ngClass]="{ 'is-invalid': submitted && f.type_prestation.errors }" *ngIf="typePrestations">

                <nb-option *ngFor="let r of typePrestations" [value]="r">{{r.typePrestation}}</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.type_prestation.errors" class="invalid-feedback">
                <div *ngIf="f.type_prestation.errors.required"> type-prestation est requis</div>
            </div>



            <label>Etat</label>
            <nb-select fullWidth shape="round" formControlName="etat" 
                [ngClass]="{ 'is-invalid': submitted && f.etat.errors }">
                <nb-option value="Active">Active</nb-option>
                <nb-option value="Inactive">Inactive</nb-option>

            </nb-select>
            <div *ngIf="submitted && f.etat.errors" class="invalid-feedback">
                <div *ngIf="f.etat.errors.required">etat est requis</div>
            </div>

            <hr>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="onClose()">Cancel</button> &nbsp;
                <button nbButton status="success">Register</button>


            </nb-card-footer>
        </form>
    </nb-card-body>

</nb-card>